@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Poiret+One:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

@font-face {
  font-family: 'Orator';
  src: url("../type/oratorstd-webfont.eot?") format("eot"), url("../type/oratorstd-webfont.woff") format("woff"), url("../type/oratorstd-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*
---------------------> Intro DIV Styling <---------------------
*/

@-webkit-keyframes boxspin {
  from {
    -webkit-transform: rotate3d(1,1,1,0deg);
  }
  to {
    -webkit-transform: rotate3d(1,1,0,-180deg);
  }
}
@-moz-keyframes boxspin {
  from {
    -moz-transform: rotate3d(1,1,1,0deg);
  }
  to {
    -moz-transform: rotate3d(1,1,0,-180deg);
  }
}
@-o-keyframes boxspin {
  from {
    -o-transform: rotate3d(1,1,1,0deg);
  }
  to {
    -o-transform: rotate3d(1,1,0,-180deg);
  }
}
@keyframes boxspin {
  from {
    transform: rotate3d(1,1,1,0deg);
  }
  to {
    transform: rotate3d(1,1,0,-180deg);
  }
}

@-webkit-keyframes dotspin {
  from   {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(1080deg);
  }
}
@-moz-keyframes dotspin {
  from   {
    -moz-transform: rotateZ(0deg);
  }
  to {
    -moz-transform: rotateZ(1080deg);
  }
}
@-o-keyframes dotspin {
  from   {
    -o-transform: rotateZ(0deg);
  }
  to {
    -o-transform: rotateZ(1080deg);
  }
}
@keyframes dotspin {
  from   {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(1080deg);
  }
}


#intro {
  z-index: 100;
  position: fixed;
  background: black;
  height: 100%;
  width: 100%;

  .context {
    height: 100%;
    perspective: 800px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  #box {
    -webkit-animation: boxspin 3s linear infinite;
    -moz-animation:    boxspin 3s linear infinite;
    -o-animation:      boxspin 3s linear infinite;
    animation:         boxspin 3s linear infinite;
    position: absolute;
    width: 120px;
    height: 120px;
    left: 50%;
    top: 50%;
    margin-top: -60px;
    margin-left: -60px;
    border: 2px solid white;
  }

  #dot {
    -webkit-animation: dotspin 3s infinite;
    -moz-animation: dotspin 3s infinite;
    -o-animation: dotspin 3s infinite;
    animation: dotspin 3s infinite;
    -webkit-transform: translateZ(-100px);
    -moz-transform: translateZ(-100px);
    -o-transform: translateZ(-100px);
    -ms-transform: translateZ(-100px);
    transform: translateZ(-100px);

    position: absolute;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    background-color: red;
    text-align: center;
    font-family: Orator;
    margin-left: -40px;
    margin-top: -40px;
    line-height: 40px;
    color: white;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
  }
}

/*
---------------------> Navbar with Logo Styling <---------------------
*/
nav {
  position: absolute;
  top: 0px;
  height: 60px;
  width: 100%;
  background-color: black;
  // background-image: url("../images/djc-logo-white.svgz");
  // background-size: contain;
  // background-position: center;
  // background-repeat: no-repeat;
  color: white;
  text-align: center;

  a {
    font-family: 'Orator';
    font-size: 1rem;
    text-transform: lowercase;
    display: inline-block;
    margin: 1.25rem 2rem;
    box-shadow: 0px;
    transition: all 300ms ease-in-out;

    &.selected {
      box-shadow: inset 0px -2px white;
      transition: all 300ms ease-in-out;
    }

    &:hover {
      color: black;
      box-shadow: inset 0px -1.3rem white;
      transition: all 300ms ease-in-out;
    }
  }
}

#logo {
  margin: 4px;
  height: 72px;
}

/*
---------------------> Main Page Content Styling <---------------------
*/

@mixin links {
  a {
    box-shadow: rgb(255, 255, 255) 0px -0.06em 0px inset;

    &:hover {
      color: black;
      box-shadow: rgb(255, 255, 255) 0px -1.2em 0px inset;
    }

    transition: all 250ms ease-in-out;
  }
}

@mixin info {
  p {
    position: relative;
    font-size: 1.75rem;
    line-height: 1.75rem;
    letter-spacing: 1px;
    text-transform: lowercase;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}

#about {
  position: absolute;
  top: 60px;
  height: 100%;
  width: 100%;

  .index {
    position: relative;
    font-family: Orator;
    height: 33.3333333%;
    min-height: 140px;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../images/djc-logo-white.png");

    &.info {
      @include info;
      @include links;
      font-family: Orator;
    }
  }

}

#work {
  position: absolute;
  top: 60px;
  width: 100%;

  .work {
    font-family: Poiret One;
    text-align: center;
    color: white;

    header {
      padding: 100px;

      h3 {
        font-family: Times;
        font-weight: 300;
        font-style: italic;
      }
    }

    @media (max-width: 720px) {
      article {
        padding: 50px 10px;

        .description {
          width: 90%;
          margin: 40px auto;
        }
      }
    }

    @media (min-width: 720px) {
      article {
        padding: 80px;

        .description {
          width: 640px;
          margin: 40px auto;
        }
      }
    }
    article {

        p {
          font-family: Raleway;
          font-size: 20px;
          color: #333;
        }


      .links {
        padding: 10px 30px;
        font-family: Orator;
        text-transform: lowercase;
        margin: 10px auto;
      }
    }

    .tech {
      padding: 20px;

      span img {
        margin: 20px;
        display: inline-block;
        width: 80px;
        height: 80px;
      }
    }
  }
}



#s01 {
  background-color: #fe4141;
  // background-position: center top;
}

#s02 {
  background-color: #fa644a;
  // background-position: center 9%;
}

#s03 {
  background-color: #fa894a;
  // background-position: center 18%;
}

#s04 {
  background-color: #faed45;
  // background-position: center 27%;
}

#s05 {
  background-color: #67ffd1;
  // background-position: center 36%;
}

#s06 {
  background-color: #60d9ff;
  // background-position: center 45%;
}

#s07 {
  background-color: #4893f7;
  // background-position: center 54%;
}

#s08 {
  background-color: #5561fa;
  // background-position: center 63%;
}

#s09 {
  background-color: #9367ff;
  // background-position: center 72%;
}

#s10 {
  background-color: #dc67ff;
  // background-position: center 81%;
}

#plainte {
  background-color: #fe5daf;
  // background-position: center 90%;
}

.shootme {
  font-family: Orator;
  display: inline-block;
  position: relative;
  top: 50%;
  height: 20px;
  padding: 12px 14px;
  line-height: 20px;
  font-size: 15px;
  letter-spacing: normal;
  color: white;
  background: black;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  &:visited, &:hover, &:active {
    color: white;
  }

  &:hover {
    background: rgb(255, 48, 48);
    cursor: pointer;
  }
}

$digi-bg: #f72b4a;

#digi {
  header {
    background-color: $digi-bg;
  }

  .links {
    color: black;
    border: 1px solid $digi-bg;

    &:hover {
      color: white;
      background-color: $digi-bg;
    }

    transition: background 200ms ease-in-out;
  }

  p a {
    display: inline-block;
    box-shadow: $digi-bg 0px -0.06em 0px inset;

    &:hover {
      color: white;
      box-shadow: $digi-bg 0px -1.2em 0px inset;
    }

    transition: all 200ms ease-in-out;
  }
}

$crap-bg: #01ece6;

#crap {
  header {
    background-color: $crap-bg;

    h1 {
      font-family: 'Press Start 2P';
      font-size: 1.5rem;
    }
  }

  .links {
    color: black;
    border: 1px solid $crap-bg;

    &:hover {
      color: white;
      background-color: $crap-bg;
    }

    transition: background 200ms ease-in-out;
  }

  p em {
    font-size: .75rem;
  }

  p a {
    display: inline-block;
    box-shadow: $crap-bg 0px -0.06em 0px inset;

    &:hover {
      color: white;
      box-shadow: $crap-bg 0px -1.2em 0px inset;
    }

    transition: all 200ms ease-in-out;
  }

}

$paint-bg: #28fcaa;

#paint {
  header {
    background-color: $paint-bg;

    h1 {
      font-family: Orator;
    }
  }

  .links {
    color: black;
    border: 1px solid $paint-bg;

    &:hover {
      color: white;
      background-color: $paint-bg;
    }

    transition: background 200ms ease-in-out;
  }

  p a {
    display: inline-block;
    box-shadow: $paint-bg 0px -0.06em 0px inset;

    &:hover {
      color: white;
      box-shadow: $paint-bg 0px -1.2em 0px inset;
    }

    transition: all 200ms ease-in-out;
  }
}

/*
---------------------> Browser Styling <---------------------
*/
@media (max-width: 720px) {
  .browser {
    width: 100%;
    margin: 40px 0;
  }
}

@media (min-width: 720px) {
  .browser {
    width: 640px;
    height: 400px;
    margin: 40px auto;
  }
}

.browser {
  position: relative;
  border: 1px solid #e6e6e6;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #e6e6e6;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;

  video {
    height: 100%;
    width: 100%;
  }

  &.closed {
    display: none;
  }

  &.minied {
    height: 33px;
  }

  &.maxed {
    width: 952px;
    height: 576px;
  }

  .title {
    margin: 0;
    color: #585858;
    line-height: 33px;
    font-family: Orator;
    text-transform: lowercase;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .play {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../images/play_btn.png");
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 4;
    cursor: pointer;

    &.playing {
      background: none;
    }
  }

  ul.ui {
    position: absolute;
    top: 7px;
    left: 10px;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      position: relative;
      height: 11px;
      width: 11px;
      margin-right: 4px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%;
      cursor: pointer;

      &.close {
        background-color: #ff6161;

        &:active {
          background-color: #b94646;
        }
      }

      &.min {
        background-color: #ffbc3b;

        &:active {
          background-color: #b3842c;
        }
      }

      &.max {
        background-color: #00da51;

        &:active {
          background-color: #04943a;
        }
      }

      &:hover:after {
        content: "";
        width: 5px;
        height: 5px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -o-border-radius: 100%;
        -ms-border-radius: 100%;
        border-radius: 100%;
        background: black;
        opacity: 0.4;
        position: absolute;
        top: 3px;
        left: 3px;
      }
    }
  }
}

/*
---------------------> Sidebar Menu Styling <---------------------
*/

@media (max-width: 720px) {
  #menu {
    width: 100%;

    li {
      font-size: 2rem;

      a {
        padding: 75rem 0;
      }
    }
  }
}

@media (min-width: 720px) {
  #menu {
    width: 300px;

    li {
      font-size: 1rem;

      a {
        padding: .5rem 0;
      }
    }
  }
}

$menu-bgcolor: #ff4040;

#menu {
  position: fixed;
  z-index: 5;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;

  -webkit-transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  -moz-transform: translate(-100%, 0);
  -moz-transition: -moz-transform 200ms ease-in-out;
  -o-transform: translate(-100%, 0);
  -o-transition: -o-transform 200ms ease-in-out;
  -ms-transform: translate(-100%, 0);
  -ms-transition: -ms-transform 200ms ease-in-out;
  transform: translate(-100%, 0);
  transition: transform 200ms ease-in-out;

  h3 {
    font-family: Orator;
    height: 55px;
    margin: 0 auto;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 55px;
    letter-spacing: 4px;
  }

  li {
    font-family: Poiret One;
    font-weight: bold;
    line-height: 2.5rem;
    letter-spacing: 1px;

    a {
      display: block;
      padding: 0.75rem 0;

      &:hover {
        background-color: white;
        color: $menu-bgcolor;
      }
    }

    &.social {
      letter-spacing: normal;

      a {
        font-size: 18px;
        padding: .25rem 1rem;
        display: inline-block;

        span {
          width: 18px;
        }
      }
    }
  }
}

#menu.clicked {
  -webkit-transform: translate(0%, 0);
  -moz-transform: translate(0%, 0);
  -o-transform: translate(0%,0);
  -ms-transform: translate(0%,0);
  transform: translate(0%,0);
  pointer-events: auto;
}

.menu-list {
  li {
    padding: .5rem;

    a:hover {
      cursor: pointer;
      background-color: white;
      color: $menu-bgcolor;
    }
  }
}


/*
---------------------> Animated menu button <---------------------
*/

$color: white;
$button-size: 1rem;
$background: rgba(255,255,255,.35);
$bg-hover: rgba(255,255,255,.5);
$transition: 350ms;

.lines-button {
  display: inline-block;
  padding: $button-size/2 $button-size/1.6;
  transition: 350ms;
  cursor: pointer;
  user-select: none;
  background: $background;
  position: fixed;
  z-index: 10;
  top: 14px;
  left: 14px;

  &:hover {
    background: $bg-hover;
  }
}

@mixin line {
  display: inline-block;
  width: $button-size;
  height: $button-size/8;
  background: $color;
  transition: $transition;
}

.lines {
  @include line;
  position: relative;

  &:before, &:after {
    @include line;
    position: absolute;
    left: 0;
    content: "";
  }
  &:before{ top: $button-size/3; }
  &:after { top: -$button-size/3; }

  -webkit-transform: translateY(-$button-size/3);
  -moz-transform: translateY(-$button-size/3);
  -o-transform: translateY(-$button-size/3);
  -ms-transform: translateY(-$button-size/3);
  transform: translateY(-$button-size/3);
}

.lines-button.minus.close {
  background: rgba(0,0,0,0);

  &:hover {
    background: $bg-hover;
  }

  .lines {
    &:before, &:after {
      top: 0;
    }
  }
}

/*
---------------------> Contact Footer <---------------------
*/

#contact {
  height: 100px;
  text-align: center;
  width: 100%;
  background-color: #dddddd;

  a {
    margin: 0px 2px;
  }
}
