@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Poiret+One:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@font-face {
  font-family: 'Orator';
  src: url("../type/oratorstd-webfont.eot?") format("eot"), url("../type/oratorstd-webfont.woff") format("woff"), url("../type/oratorstd-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*
---------------------> Intro DIV Styling <---------------------
*/
@-webkit-keyframes boxspin {
  from {
    -webkit-transform: rotate3d(1, 1, 1, 0deg); }
  to {
    -webkit-transform: rotate3d(1, 1, 0, -180deg); } }
@-moz-keyframes boxspin {
  from {
    -moz-transform: rotate3d(1, 1, 1, 0deg); }
  to {
    -moz-transform: rotate3d(1, 1, 0, -180deg); } }
@-o-keyframes boxspin {
  from {
    -o-transform: rotate3d(1, 1, 1, 0deg); }
  to {
    -o-transform: rotate3d(1, 1, 0, -180deg); } }
@keyframes boxspin {
  from {
    transform: rotate3d(1, 1, 1, 0deg); }
  to {
    transform: rotate3d(1, 1, 0, -180deg); } }
@-webkit-keyframes dotspin {
  from {
    -webkit-transform: rotateZ(0deg); }
  to {
    -webkit-transform: rotateZ(1080deg); } }
@-moz-keyframes dotspin {
  from {
    -moz-transform: rotateZ(0deg); }
  to {
    -moz-transform: rotateZ(1080deg); } }
@-o-keyframes dotspin {
  from {
    -o-transform: rotateZ(0deg); }
  to {
    -o-transform: rotateZ(1080deg); } }
@keyframes dotspin {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(1080deg); } }
#intro {
  z-index: 100;
  position: fixed;
  background: black;
  height: 100%;
  width: 100%; }
  #intro .context {
    height: 100%;
    perspective: 800px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  #intro #box {
    -webkit-animation: boxspin 3s linear infinite;
    -moz-animation: boxspin 3s linear infinite;
    -o-animation: boxspin 3s linear infinite;
    animation: boxspin 3s linear infinite;
    position: absolute;
    width: 120px;
    height: 120px;
    left: 50%;
    top: 50%;
    margin-top: -60px;
    margin-left: -60px;
    border: 2px solid white; }
  #intro #dot {
    -webkit-animation: dotspin 3s infinite;
    -moz-animation: dotspin 3s infinite;
    -o-animation: dotspin 3s infinite;
    animation: dotspin 3s infinite;
    -webkit-transform: translateZ(-100px);
    -moz-transform: translateZ(-100px);
    -o-transform: translateZ(-100px);
    -ms-transform: translateZ(-100px);
    transform: translateZ(-100px);
    position: absolute;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    background-color: red;
    text-align: center;
    font-family: Orator;
    margin-left: -40px;
    margin-top: -40px;
    line-height: 40px;
    color: white;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%; }

/*
---------------------> Navbar with Logo Styling <---------------------
*/
nav {
  position: absolute;
  top: 0px;
  height: 60px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center; }
  nav a {
    font-family: 'Orator';
    font-size: 1rem;
    text-transform: lowercase;
    display: inline-block;
    margin: 1.25rem 2rem;
    box-shadow: 0px;
    transition: all 300ms ease-in-out; }
    nav a.selected {
      box-shadow: inset 0px -2px white;
      transition: all 300ms ease-in-out; }
    nav a:hover {
      color: black;
      box-shadow: inset 0px -1.3rem white;
      transition: all 300ms ease-in-out; }

/*
---------------------> Main Page Content Styling <---------------------
*/
#about {
  position: absolute;
  top: 60px;
  height: 100%;
  width: 100%; }
  #about .index {
    position: relative;
    font-family: Orator;
    height: 33.3333333%;
    min-height: 140px;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../images/djc-logo-white.png"); }
    #about .index.info {
      font-family: Orator; }
      #about .index.info p {
        position: relative;
        font-size: 1.75rem;
        line-height: 1.75rem;
        letter-spacing: 1px;
        text-transform: lowercase;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%); }
      #about .index.info a {
        box-shadow: white 0px -0.06em 0px inset;
        transition: all 250ms ease-in-out; }
        #about .index.info a:hover {
          color: black;
          box-shadow: white 0px -1.2em 0px inset; }

#works {
  position: absolute;
  top: 60px;
  width: 100%; }
  #works .project {
    font-family: Poiret One;
    text-align: center;
    color: white; }
    #works .project header {
      padding: 100px; }
      #works .project header h3 {
        font-family: Times;
        font-weight: 300;
        font-style: italic; }
    @media (max-width: 720px) {
      #works .project article {
        padding: 40px 10px; }
        #works .project article .description {
          width: 90%;
          margin: 40px auto; } }
    @media (min-width: 720px) {
      #works .project article {
        padding: 60px; }
        #works .project article .description {
          width: 640px;
          margin: 40px auto; } }
    #works .project article p {
      font-family: Raleway;
      font-size: 20px;
      color: #333; }
    #works .project article .links {
      padding: 10px 30px;
      font-family: Orator;
      text-transform: lowercase;
      margin: 10px auto; }
    #works .project .tech {
      padding: 20px; }
      #works .project .tech span img {
        margin: 16px;
        display: inline-block;
        width: 64px;
        height: 64px; }

#s01 {
  background-color: #fe4141; }

#s02 {
  background-color: #fa644a; }

#s03 {
  background-color: #fa894a; }

#s04 {
  background-color: #faed45; }

#s05 {
  background-color: #67ffd1; }

#s06 {
  background-color: #60d9ff; }

#s07 {
  background-color: #4893f7; }

#s08 {
  background-color: #5561fa; }

#s09 {
  background-color: #9367ff; }

#s10 {
  background-color: #dc67ff; }

#plainte {
  background-color: #fe5daf; }

.shootme {
  font-family: Orator;
  display: inline-block;
  position: relative;
  top: 50%;
  height: 20px;
  padding: 12px 14px;
  line-height: 20px;
  font-size: 15px;
  letter-spacing: normal;
  color: white;
  background: black;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .shootme:visited, .shootme:hover, .shootme:active {
    color: white; }
  .shootme:hover {
    background: #ff3030;
    cursor: pointer; }

#digi header {
  background-color: #f72b4a; }
#digi .links {
  color: black;
  border: 1px solid #f72b4a;
  transition: background 200ms ease-in-out; }
  #digi .links:hover {
    color: white;
    background-color: #f72b4a; }
#digi p a {
  display: inline-block;
  box-shadow: #f72b4a 0px -0.06em 0px inset;
  transition: all 200ms ease-in-out; }
  #digi p a:hover {
    color: white;
    box-shadow: #f72b4a 0px -1.2em 0px inset; }

#crap header {
  background-color: #01ece6; }
  #crap header h1 {
    font-family: 'Press Start 2P';
    font-size: 1.5rem; }
#crap .links {
  color: black;
  border: 1px solid #01ece6;
  transition: background 200ms ease-in-out; }
  #crap .links:hover {
    color: white;
    background-color: #01ece6; }
#crap p em {
  font-size: .75rem; }
#crap p a {
  display: inline-block;
  box-shadow: #01ece6 0px -0.06em 0px inset;
  transition: all 200ms ease-in-out; }
  #crap p a:hover {
    color: white;
    box-shadow: #01ece6 0px -1.2em 0px inset; }

#paint header {
  background-color: #28fcaa; }
  #paint header h1 {
    font-family: Orator; }
#paint .links {
  color: black;
  border: 1px solid #28fcaa;
  transition: background 200ms ease-in-out; }
  #paint .links:hover {
    color: white;
    background-color: #28fcaa; }
#paint p a {
  display: inline-block;
  box-shadow: #28fcaa 0px -0.06em 0px inset;
  transition: all 200ms ease-in-out; }
  #paint p a:hover {
    color: white;
    box-shadow: #28fcaa 0px -1.2em 0px inset; }

/*
---------------------> Browser Styling <---------------------
*/
@media (max-width: 720px) {
  .browser {
    width: 100%;
    margin: 40px 0; } }
@media (min-width: 720px) {
  .browser {
    width: 640px;
    height: 400px;
    margin: 40px auto; } }
.browser {
  position: relative;
  border: 1px solid #e6e6e6;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #e6e6e6;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out; }
  .browser video {
    height: 100%;
    width: 100%; }
  .browser.closed {
    display: none; }
  .browser.minied {
    height: 33px; }
  .browser.maxed {
    width: 952px;
    height: 576px; }
  .browser .title {
    margin: 0;
    color: #585858;
    line-height: 33px;
    font-family: Orator;
    text-transform: lowercase;
    font-weight: 300;
    letter-spacing: 1px; }
  .browser .play {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../images/play_btn.png");
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 4;
    cursor: pointer; }
    .browser .play.playing {
      background: none; }
  .browser ul.ui {
    position: absolute;
    top: 7px;
    left: 10px;
    margin: 0;
    padding: 0; }
    .browser ul.ui li {
      display: inline-block;
      position: relative;
      height: 11px;
      width: 11px;
      margin-right: 4px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%;
      cursor: pointer; }
      .browser ul.ui li.close {
        background-color: #ff6161; }
        .browser ul.ui li.close:active {
          background-color: #b94646; }
      .browser ul.ui li.min {
        background-color: #ffbc3b; }
        .browser ul.ui li.min:active {
          background-color: #b3842c; }
      .browser ul.ui li.max {
        background-color: #00da51; }
        .browser ul.ui li.max:active {
          background-color: #04943a; }
      .browser ul.ui li:hover:after {
        content: "";
        width: 5px;
        height: 5px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -o-border-radius: 100%;
        -ms-border-radius: 100%;
        border-radius: 100%;
        background: black;
        opacity: 0.4;
        position: absolute;
        top: 3px;
        left: 3px; }

/*
---------------------> Sidebar Menu Styling <---------------------
*/
@media (max-width: 720px) {
  #menu {
    width: 100%; }
    #menu li {
      font-size: 2rem; }
      #menu li a {
        padding: .75rem 0; } }
@media (min-width: 720px) {
  #menu {
    width: 300px; }
    #menu li {
      font-size: 1rem; }
      #menu li a {
        padding: .5rem 0; } }
#menu {
  position: fixed;
  z-index: 5;
  height: 100%;
  min-height: 500px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  -webkit-transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  -moz-transform: translate(-100%, 0);
  -moz-transition: -moz-transform 200ms ease-in-out;
  -o-transform: translate(-100%, 0);
  -o-transition: -o-transform 200ms ease-in-out;
  -ms-transform: translate(-100%, 0);
  -ms-transition: -ms-transform 200ms ease-in-out;
  transform: translate(-100%, 0);
  transition: transform 200ms ease-in-out; }
  #menu h3 {
    font-family: Orator;
    height: 55px;
    margin: 0 auto;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 55px;
    letter-spacing: 4px; }
  #menu li {
    font-family: Poiret One;
    font-weight: bold;
    line-height: 2.5rem;
    letter-spacing: 1px; }
    #menu li a {
      display: block;
      padding: 0.75rem 0; }
      #menu li a:hover {
        background-color: white;
        color: #ff4040; }
    #menu li.social {
      letter-spacing: normal; }
      #menu li.social a {
        font-size: 18px;
        padding: .25rem 1rem;
        display: inline-block; }
        #menu li.social a span {
          width: 18px; }
  #menu .menu-logo {
    position: absolute;
    bottom: 0;
    padding: 30px 0;
    width: 100%; }
    #menu .menu-logo img {
      width: 64px;
      height: auto; }

#menu.clicked {
  -webkit-transform: translate(0%, 0);
  -moz-transform: translate(0%, 0);
  -o-transform: translate(0%, 0);
  -ms-transform: translate(0%, 0);
  transform: translate(0%, 0);
  pointer-events: auto; }

.menu-list li {
  padding: .5rem; }
  .menu-list li a:hover {
    cursor: pointer;
    background-color: white;
    color: #ff4040; }

/*
---------------------> Animated menu button <---------------------
*/
.lines-button {
  display: inline-block;
  padding: 0.5rem 0.625rem;
  transition: 350ms;
  cursor: pointer;
  user-select: none;
  background: rgba(255, 255, 255, 0.35);
  position: fixed;
  z-index: 10;
  top: 14px;
  left: 14px; }
  .lines-button:hover {
    background: rgba(255, 255, 255, 0.5); }

.lines {
  display: inline-block;
  width: 1rem;
  height: 0.125rem;
  background: white;
  transition: 350ms;
  position: relative;
  -webkit-transform: translateY(-0.33333rem);
  -moz-transform: translateY(-0.33333rem);
  -o-transform: translateY(-0.33333rem);
  -ms-transform: translateY(-0.33333rem);
  transform: translateY(-0.33333rem); }
  .lines:before, .lines:after {
    display: inline-block;
    width: 1rem;
    height: 0.125rem;
    background: white;
    transition: 350ms;
    position: absolute;
    left: 0;
    content: ""; }
  .lines:before {
    top: 0.33333rem; }
  .lines:after {
    top: -0.33333rem; }

.lines-button.minus.close {
  background: transparent; }
  .lines-button.minus.close:hover {
    background: rgba(255, 255, 255, 0.5); }
  .lines-button.minus.close .lines:before, .lines-button.minus.close .lines:after {
    top: 0; }

/*
---------------------> Contact Footer <---------------------
*/
#contact {
  height: 100px;
  text-align: center;
  width: 100%;
  background-color: #dddddd; }
  #contact a {
    margin: 0px 2px; }

/*# sourceMappingURL=styles.css.map */
