@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
  font-family: Open Sans, sans-serif;
  color: #727272;
}

header {
  text-align: center;
  margin: 21px;
}

header h1 {
  font-size: 23px;
  font-weight: 300;
}

main {
  background-color: #f1f1f1;
  padding: 15px 0 75px 0;
}

li {
  display: flex;
  background-color: white;
  height: 104px;
  margin-bottom: 15px;
}

.logo-container {
  height: 100%;
  margin: 15px 15px 0 15px;
}

.logo {
  max-width: 77px;
}

.rounds {
  height: 100%;
  width: 100px;
  margin-left: 12px;
  position: relative;
}

.rounds a {
  color: white;
  font-size: 15px;
  text-decoration: none;
  background-color: #f0aa11;
  padding: 8px 15px;
  border-radius: 4px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.company-title {
  font-weight: normal;
  font-size: 19px;
  margin-bottom: 3px;
  letter-spacing: .2px;
}

.description {
  padding-top: 10px;
  font-weight: light;
  line-height: 1.5;
  letter-spacing: -.3px;
}
